a {
   text-decoration: none !important;
}

.btn-body {
   height: 80px;
   width: 80px;
   border-radius: 20px;
   color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 5px auto;
   transition: all 0.3s ease;
}

.btn-body.active {
   background-color: rgba(13,23,84,1);
   color: #fff;
   transform: scale(1.05);
}

.btn-body:hover {
   color: rgb(24, 100, 201);
}

.btn-title {
   margin: 4px auto;
   font-weight: 600;
   font-size: 14px;
}